;; Copyright (c) Cognitect, Inc.
;; All rights reserved.

{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  cheshire/cheshire {:mvn/version "5.11.0"}
  galdolber/data.xml
  {:git/url "git@github.com:galdolber/data.xml.git"
   :sha "e0536ef4e10865b74a67f757105f9c540330c810"}}
 :aliases
 {:update-versions
  {:extra-paths ["build/src"]
   :main-opts   ["-m" "cognitect.aws.version-updater"]}
  :test
  {:extra-paths ["dev/src" "dev/resources" "test/src" "test/resources"]
   :extra-deps  {commons-io/commons-io {:mvn/version "2.11.0"}
                 org.clojure/test.check {:mvn/version "1.1.1"}
                 http-kit/http-kit {:mvn/version "2.6.0"}}}
  :run-tests
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
   :main-opts  ["-m" "cognitect.test-runner"]}}}
